<p>Creditos</p>
<p>Marina de Celis Folgado.</p><br>
<table style="margin: 0 auto; text-align: center ;width:100%;">
	<tr><td><img src="/images/FemShepard.jpg" width="90" height="100" ></td>
	<td><img src="/images/LoL.gif" width="259" height="130" ></td>
</table>